.button {
  border-radius: 3px;
  border: 1px solid transparent;
  background: #28abe3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  font-size: 1.08333rem;
  white-space: nowrap;
  text-align: center;
  line-height: 28px;
  margin-bottom: 0;
  padding: 0 12px;
  cursor: pointer;
  color: white; }
  .button:hover {
    background: #55bde9; }
  .button__icon {
    position: relative;
    margin-right: 5px;
    top: 1px; }
  .button--primary {
    border: 1px solid transparent;
    background: #28abe3;
    color: white; }
    .button--primary:hover {
      background: #55bde9; }
  .button--success {
    border: 1px solid transparent;
    background: #1fda9a;
    color: white; }
    .button--success:hover {
      background: #47e5af; }
  .button--danger {
    border: 1px solid transparent;
    background: #db3340;
    color: white; }
    .button--danger:hover {
      background: #e35e69; }
  .button--invert {
    border: 1px solid transparent;
    background: white none; }
    .button--invert:hover {
      background: #28abe3;
      color: white; }
  .button--outline {
    border: 1px solid #2b3335;
    color: #2b3335;
    background: none; }
    .button--outline:hover {
      background: #424e51;
      color: white; }
  .button.is-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.8; }
  .button[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.8; }
  .button--large {
    font-size: 1.33333rem;
    line-height: 35px;
    padding: 0 1.5em; }
  .button--medium {
    font-size: 1.08333rem;
    line-height: 28px;
    padding: 0 1em; }
  .button--small {
    font-size: 0.91667rem;
    line-height: 23px;
    padding: 0 0.8em; }
  .button--fixed {
    min-width: 100px;
    padding-right: 0;
    padding-left: 0; }
  .button--wide {
    padding-right: 2em;
    padding-left: 2em; }
  .button--fluid {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
  .button--block {
    margin-right: 1em;
    margin-left: 1em;
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
