@import "./bower_components/flex-ui-bootstrap/bootstrap";

// .button
@include b(button) {
	border-radius: $base-border-radius;
	border: 1px solid transparent;
	background: $color-primary;
	@include user-select(none);
	vertical-align: middle;
	box-sizing: border-box;
	display: inline-block;
	text-decoration: none;
	font-size: rem(13px);
	white-space: nowrap;
	text-align: center;
	line-height: 28px;
	margin-bottom: 0;
	padding: 0 12px;
	cursor: pointer;
	color: white;

	// .button:hover
	@include hover {
		background: lighten($color-primary, 10%);
	}

	// .button__icon
	@include e(icon) {
		position: relative;
		margin-right: 5px;
		top: 1px;
	}

	// .button--primary
	@include m(primary) {
		border: 1px solid transparent;
		background: $color-primary;
		color: white;

		// .button--primary:hover
		@include hover {
			background: lighten($color-primary, 10%);
		}
	}

	// .button--success
	@include m(success) {
		border: 1px solid transparent;
		background: $color-success;
		color: white;

		// .button--success:hover
		@include hover {
			background: lighten($color-success, 10%);
		}
	}

	// .button--danger
	@include m(danger) {
		border: 1px solid transparent;
		background: $color-danger;
		color: white;

		// .button--danger:hover
		@include hover {
			background: lighten($color-danger, 10%);
		}
	}

	// .button--invert
	@include m(invert) {
		border: 1px solid transparent;
		background: white none;

		// .button--invert:hover
		@include hover {
			background: $color-primary;
			color: white;
		}
	}

	// .button--outline
	@include m(outline) {
		border: 1px solid $color-inverse;
		color: $color-inverse;
		background: none;

		// .button--outline:hover
		@include hover {
			background: lighten($color-inverse, 10%);
			color: white;
		}
	}

	// .button.is-disabled
	@include is(disabled) {
		pointer-events: none;
		cursor: default;
		opacity: 0.8;
	}

	//.button[disabled]
	@include disabled {
		pointer-events: none;
		cursor: default;
		opacity: 0.8;
	}
	
	// .button--large
	@include m(large) {
		font-size: rem(16px);
		line-height: 35px;
		padding: 0 1.5em;
	}
	
	// .button--medium
	@include m(medium) {
		font-size: rem(13px);
		line-height: 28px;
		padding: 0 1em;
	}
	
	// .button--small
	@include m(small) {
		font-size: rem(11px);
		line-height: 23px;
		padding: 0 0.8em;
	}
	
	// .button--fixed
	@include m(fixed) {
		min-width: 100px;
		padding-right: 0;
		padding-left: 0;
	}
	
	// .button--wide
	@include m(wide) {
		padding-right: 2em;
		padding-left: 2em;
	}
	
	// .button--fluid
	@include m(fluid) {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}
	
	// .button--block
	@include m(block) {
		margin-right: 1em;
		margin-left: 1em;
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}
}